#contact-body {
    position: relative;
    height: 100vh;
    padding-top: 5em;
    background-image: url('https://64.media.tumblr.com/e6a6bf3bc0f5e1649a3308c03c1b6193/40972f2caea97c77-f1/s1280x1920/1a1dac4db8a4e58bd8c6121c2b6e42d2c5586a7f.png');
    background-size: cover;
    text-shadow: 1px 1px 1px white;
}

#contact-card {
    position: relative;
    top: 3em;
    background-color: rgba(248, 166, 15, 0.7);
}