<app-navbar></app-navbar>
<div class="edu main-container">
    <button type="button" id="button-add" class="btn btn-outline-light mb-3" data-toggle="modal" data-target="#addEducationModal" (click)="onOpenModal('add')">
    <a class="nav-link"
      ><i class="fa-solid fa-square-plus fa-1x"></i>
      <span class="sr-only">(current)</span>
    </a>
  </button>
    <div class="infoedu" id="main-container">
        <ul>
            <li class="row" *ngFor="let edu of educaciones">
                <p class="col pt-2">{{ edu.periodoEdu }}</p>
                <p class="col pt-2">{{ edu.tituloEdu }}</p>
                <p class="col mb-4 pt-2">{{ edu.institucionEdu }}</p>
                <img src="" />

                <p class="col">
                    <a (click)="onOpenModal('edit', edu)" class="btn btn-outline-light tooltips" data-placement="left" data-toggle="tooltip" data-original-title="Edit" data-target="#editEducationModal"><i class="fa fa-pencil fa2-xs"></i
          ></a>
                    <a (click)="onOpenModal('delete', edu)" class="btn btn-outline-light tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete" data-target="#deleteEducationModal"><i class="fa fa-times fa2-xs"></i
          ></a>
                </p>
            </li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-baseline mt-5 pt-4">
            <h3><a class="nav-link" routerLink="/experiencia">Experiencia</a></h3>
            <h3>
                <a class="nav-link" routerLink="/certificaciones">Certificaciones</a>
            </h3>
            <h3><a class="nav-link" routerLink="/about">Volver</a></h3>
        </div>
    </div>
</div>
<!-- Modal agregar-->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" id="add-modal-header">
                <h5 class="modal-title" id="addEducationModalLabel">
                    Añadir Educación
                </h5>
            </div>
            <div class="modal-body" id="add-modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                    <div class="form-group row mb-2">
                        <label for="tituloEdu" class="col-sm-2 col-form-label">Título</label
            >
            <div class="form-group col-sm-10">
              <input
                type="text"
                ngModel
                name="tituloEdu"
                class="form-control"
                id="tituloEdu"
                placeholder="Título"
                #tituloEdu="ngModel"
              />
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="institucionEdu" class="col-sm-2 col-form-label"
              >Institución</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                ngModel
                name="institucionEdu"
                class="form-control"
                id="institucionEdu"
                placeholder="Institución"
                #institucionEdu="ngModel"
              />
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="periodoEdu" class="col-sm-2 col-form-label"
              >Período</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                ngModel
                name="periodoEdu"
                class="form-control"
                id="periodoEdu"
                placeholder="Período"
                #periodoEdu="ngModel"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="add-modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-dismiss="modal"
          id="add-education-form"
        >
          Cerrar
        </button>
        <button
          (click)="onAddEducation(addForm)"
          type="submit"
          class="btn btn-outline-dark"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal editar-->
<div
  class="modal fade"
  id="editEducationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editEducationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="edit-modal-header">
        <h5 class="modal-title" id="editEducationModalLabel">
          {{ editEducacion?.tituloEdu }}
        </h5>
      </div>
      <div class="modal-body" id="edit-modal-body">
        <form #editForm="ngForm">
          <div class="form-group row mb-2">
            <label for="tituloEdu" class="col-sm-2 col-form-label"
              >Título</label
            >
            <div class="form-group col-sm-10">
              <input
                type="text"
                ngModel="{{ editEducacion?.tituloEdu }}"
                name="tituloEdu"
                class="form-control"
                id="tituloEdu"
                placeholder="Título"
                #tituloEdu="ngModel"
              />
            </div>
            <div class="form-group col-sm-10">
              <input
                type="hidden"
                ngModel="{{ editEducacion?.idEdu }}"
                name="idEdu"
                class="form-control"
                id="idEdu"
                #idEdu="ngModel"
              />
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="institucionEdu" class="col-sm-2 col-form-label"
              >Institución</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                ngModel="{{ editEducacion?.institucionEdu }}"
                name="institucionEdu"
                class="form-control"
                id="institucionEdu"
                placeholder="Institución"
                #institucionEdu="ngModel"
              />
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="periodoEdu" class="col-sm-2 col-form-label"
              >Período</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                ngModel="{{ editEducacion?.periodoEdu }}"
                name="periodoEdu"
                class="form-control"
                id="periodoEdu"
                placeholder="Período"
                #periodoEdu="ngModel"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="edit-modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-dismiss="modal"
          id="edit-education-form"
        >
          Cerrar
        </button>
        <button
          (click)="onUpdateEducation(editForm.value)"
          data-dismiss="modal"
          class="btn btn-outline-dark"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal borrar-->
<div
  class="modal fade"
  id="deleteEducationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteEducationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="delete-modal-header">
        <h5 class="modal-title" id="deleteEducationModalLabel">
          Eliminar Educación
        </h5>
      </div>
      <div class="modal-body" id="delete-modal-body">
        <p>¿está seguro de eliminar el item?</p>
        <p class="text-center" style="color: white">
          {{ deleteEducacion?.periodoEdu }}<br />
          {{ deleteEducacion?.tituloEdu }}<br />
          {{ deleteEducacion?.institucionEdu }}
        </p>
      </div>
      <div class="modal-footer" id="delete-modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-dismiss="modal"
          id="delete-education-form"
        >
          No
        </button>
        <button
          (click)="onDeleteEducation(deleteEducacion!.idEdu)"
          data-dismiss="modal"
          class="btn btn-outline-dark"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>