.edu {
    height: 100vh;
    padding-top: 10em;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
}

#main-container {
    position: relative;
    top: 25%
}

ul {
    margin-left: 20em;
    font-size: large;
}

a.nav-link {
    color: orange !important;
    
    text-shadow: 2px 2px 1px black;
}

a.nav-link:hover {
    color: white !important;
}

img {
    max-height: 70px;
    width: 10px;
}

.btn {
    padding: 0.2rem 0.6rem;
    line-height: 1;
}

#add-modal-body,
#edit-modal-body,
#delete-modal-body {
    background-color: rgba(248, 166, 15, 0.7);
}

#add-modal-header,
#add-modal-footer,
#edit-modal-header,
#edit-modal-footer,
#delete-modal-header,
#delete-modal-footer {
    color: black;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(91, 91, 91, 0.5);
}

#button-add {
    position: relative;
    left: 82%;
    color: black
}