.about {
    position: relative;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
}

.main-container {
    position: relative;
    top: 26%

}

a.nav-link {
    color: orange !important;
}

#descripcion {
    column-width: 400px;
    text-align: center;
    margin-left: 32%;
}

img {
    max-height: 150px;
    width: 150px;
    width: auto;
    border-radius: 50%;
}

#edit-modal-body,
#delete-modal-body {
    background-color: rgba(248, 166, 15, 0.7);
}

#add-modal-header,
#add-modal-footer,
#edit-modal-header,
#edit-modal-footer,
#delete-modal-header,
#delete-modal-footer {
    color: black;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(91, 91, 91, 0.5);
}

#button-add {
    position: relative;
    color: black;
    text-shadow: 1px 1px 1px gray;
}