<app-navbar></app-navbar>
<div class="About">
    <div class="mx-auto text-center pb-5">
        <h1 *ngIf="persona">{{persona.nombrePer}}</h1>
        <h5>{{persona?.ciudadPer}}</h5>
        <p>{{persona?.descPer}}</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-baseline mt-5 pt-4" id="links">
        <h3><a class="nav-link" routerLink="/educacion">Educación</a></h3>
        <h3><a class="nav-link" routerLink="/experiencia">Experiencia</a></h3>
        <h3><a class="nav-link" routerLink="/certificaciones">Certificaciones</a></h3>
    </div>
</div>