.navbar {
    position: fixed;
    height: 85px;
}

.nav-link {
    color: #FFF;
}

.nav-link:hover,
.nav-item:hover {
    color: orange;
}

.img {
    max-width: 10%;
}

 @media (max-width: 430px) { 
    .img {
        max-width: 25%;
    }
 }