#registro-body {
    position: relative;
    height: 100vh;
    padding-top: 5em;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
    text-shadow: 1px 1px 1px white;
}

#registro-card {
    position: relative;
    top: 3em;
    background-color: rgba(248, 166, 15, 0.7);
}


a.nav-link {
    color: black !important;
}