<app-navbar></app-navbar>
<div>
    <div class="text-center">
        <button type="button" class="btn btn-success">
            <a class="nav-link">añadir educación 
                <span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
</div>

<div class="exp">
    <div>
        <ul>
            <li class="row" *ngFor="let exp of experiencias">
                <p class="col-2">{{exp.periodoExp}}</p>
                <p class="col-3">{{exp.tituloExp}}</p>
                <p class="col-3">{{exp.institucionExp}}</p>
                <p class="col-2"><a class="btn btn-outline-light tooltips" data-placement="left" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil fa2-xs"></i></a>
                    <a class="btn btn-outline-light tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times fa2-xs"></i></a></p>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-baseline mt-5 pt-4">
        <h3><a class="nav-link" routerLink="/educacion">Educación</a></h3>
        <h3><a class="nav-link" routerLink="/certificaciones">Certificaciones</a></h3>
        <h3><a class="nav-link" routerLink="/about">Volver</a></h3>
    </div>
</div>