.exp {
    height: 100vh;
    padding-top: 6em;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
    outline: 1px solid red;
}


#main-container {
    position: relative;    
    width: max-content;
    margin: 6em auto;
}

ul {
    font-size: large;
    margin-left: 8em;

}

a.nav-link {
    color: orange !important;
    
    text-shadow: 2px 2px 1px black;
}

a.nav-link:hover {
    color: white !important;
}

#add-modal-body,
#edit-modal-body,
#delete-modal-body {
    background-color: rgba(248, 166, 15, 0.7);
}

#add-modal-header,
#add-modal-footer,
#edit-modal-header,
#edit-modal-footer,
#delete-modal-header,
#delete-modal-footer {
    color: black;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(91, 91, 91, 0.5);
}

#button-add {
    position: relative;
    left: 74%;
    color: black
}