<app-navbar></app-navbar>
<section class="card-section" id="Projects">
    <div class="card-group">
        <div class="card">
            <img src="../../assets/calculadora.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Calculadora</h5>
                <p class="card-text">simple calculadora hecha utilizando HTML, CSS y JS</p>

            </div>
            <div class="card-footer">
                <small class="d-flex flex-row justify-content-around">
                          <a href="https://renato-servadei.github.io/Calculator/"> Page <i class="fa-brands fa-github fa-sm"></i>
                          </a>
                          <a href="https://github.com/Renato-Servadei/Calculator.git">Repo <i class="fa-brands fa-github fa-sm"></i></a>
                      </small>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/color picker.jpg" class="card-img-top" alt="color picker page">
            <div class="card-body">
                <h5 class="card-title">Selector de Colores</h5>
                <p class="card-text">elegir colores de fondo random usando HTML, CSS and JS</p>
            </div>
            <div class="card-footer">
                <small class="d-flex flex-row justify-content-around">
                          <a href="https://renato-servadei.github.io/Color-Picker/hex.html"> Page <i class="fa-brands fa-github fa-sm"></i>
                          </a>
                          <a href="https://github.com/Renato-Servadei/Color-Picker">Repo <i class="fa-brands fa-github fa-sm"></i></a>
                      </small>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/drumkit.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Batería</h5>
                <p class="card-text">Tocar la batería con el teclado. HTML, CSS y JS</p>
            </div>
            <div class="card-footer">
                <small class="d-flex flex-row justify-content-around">
                          <a href="https://renato-servadei.github.io/DrumKit/"> Page <i class="fa-brands fa-github fa-sm"></i>
                          </a>
                          <a href="https://github.com/Renato-Servadei/DrumKit">Repo <i class="fa-brands fa-github fa-sm"></i></a>
                      </small>
            </div>
        </div>
    </div>
</section>