<app-navbar></app-navbar>
<section class="card-section" id="Projects">
    <div class="card-group">
        <div class="card" *ngFor="let pro of proyectos">
            <img src="{{pro.imgPro}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pro.nombrePro}}</h5>
                <p class="card-text">{{pro.descPro}}</p>

            </div>
            <div class="card-footer">
                <small class="d-flex flex-row justify-content-around">
                          <a href="{{pro.pagPro}}"> Page <i class="fa-brands fa-github fa-sm"></i>
                          </a>
                          <a href="{{pro.codPro}}">Repo <i class="fa-brands fa-github fa-sm"></i></a>
                      </small>
            </div>
        </div>