.card-group {
    height: 100vh;
    padding-top: 4em;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
}

.card {
    height: 70vh;
}

.card-body {
    color: white;
    background-color: rgb(47, 45, 45);
    height: 100px;
}

.card>img {
    height: 12em;
    width: auto;
}

.button-add {
    position: fixed;
    top: 90%;
    left: 45%
}

#button-add {
    color: black
}

#add-modal-body,
#edit-modal-body,
#delete-modal-body {
    background-color: rgba(248, 166, 15, 0.7);
}

#add-modal-header,
#add-modal-footer,
#edit-modal-header,
#edit-modal-footer,
#delete-modal-header,
#delete-modal-footer {
    color: black;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(91, 91, 91, 0.5);
}

a.nav-link {
    color: orange !important;
}

a.nav-link:hover {
    color: transparent !important;
}