.blandas {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 5em;
    padding-left: 5em;
    background-image: url(../../../assets/bg-masthead.jpg);
    background-size: cover;
}


#main-container {
    position: relative;
    top: 20%
}

#links {
    position: relative;
    top: 12em;
    
    color: orange;
    text-shadow: 2px 2px 1px black;
}

li {
    list-style-type: none;
    max-width: 200px;
}

.soft {
    border-radius: 50%;
    color: orange;
    text-shadow: 1px 1px 1px black;
}

img {
    border-radius: 50%;
    background-color: white;
}

a.nav-link,
a,
i {
    color: orange !important;
}

a.nav-link:hover {
    color: white !important;
}

#add-modal-body,
#edit-modal-body,
#delete-modal-body {
    background-color: rgba(248, 166, 15, 0.7);
}

#add-modal-header,
#add-modal-footer,
#edit-modal-header,
#edit-modal-footer,
#delete-modal-header,
#delete-modal-footer {
    color: black;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(91, 91, 91, 0.5);
}

#button-add {
    position: relative;
    color: black;
    text-shadow: 1px 1px 1px gray;
}