<app-navbar></app-navbar>

<div>
    <div class="text-center">
        <button type="button" class="btn btn-success">
            <a class="nav-link">añadir educación 
                <span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
</div>
<div class="skills">
    <div class="hard">
        <ul class="row">

            <li class="col d-flex flex-column justify-space-around" *ngFor="let hard of myHardSkillsList ">
                <p class="col-2 d-flex justify-content-center"><i class=" {{hard.hardIcon}} "></i></p>

                <p class="col "><a class="btn btn-outline-light tooltips " data-placement="left " data-toggle="tooltip " data-original-title="Edit "><i class="fa fa-pencil fa2-xs "></i></a>
                    <a class="btn btn-outline-light tooltips " data-placement="right " data-toggle="tooltip " data-original-title="Delete "><i class="fa fa-times fa2-xs "></i></a></p>
            </li>
        </ul>
    </div>

    <hr>
    <div class="soft ">
        <ul class="row ">

            <li class="col " *ngFor="let soft of mySoftSkillsList ">
                <p class="col-2 pl-2 "><i class="{{soft.softIcon}} "></i></p>
                <p class="col-2 pl-2 ">{{soft.softName}} "</p>

                <p class="col "><a class="btn btn-outline-light tooltips " data-placement="left " data-toggle="tooltip " data-original-title="Edit "><i class="fa fa-pencil fa2-xs "></i></a>
                    <a class="btn btn-outline-light tooltips " data-placement="right " data-toggle="tooltip " data-original-title="Delete "><i class="fa fa-times fa2-xs "></i></a></p>
            </li>
        </ul>
    </div>
</div>