<!-- Badges & Certifications -->
<footer>
    <div class="badges masthead" id="badges">
        <i class="fa-brands fa-html5 fa-2xl"></i>
        <i class="fa-brands fa-css3 fa-2xl"></i>
        <i class="fa-brands fa-js fa-2xl"></i>
        <i class="fa-brands fa-bootstrap fa-2xl"></i>
        <i class="fa-brands fa-angular fa-2xl"></i>
        <i class="fa-brands fa-git-alt fa-2xl"></i>
        <hr>
        <div class="row d-flex justify-content-center gutter-x-1" id="skillrow">
            <div class="col d-flex flex-column">
                <i class="fa-solid fa-brain"></i>
                <span>pensamiento crítico</span>
            </div>
            <div class="col d-flex flex-column">
                <i class="fa-solid fa-brain"></i>
                <span>adaptabilidad</span>
            </div>
            <div class="col d-flex flex-column">
                <i class="fa-solid fa-brain"></i>
                <span>empatía</span>
            </div>
            <div class="col d-flex flex-column">
                <i class="fa-solid fa-brain"></i>
                <span>creatividad</span>
            </div>
            <div class="col d-flex flex-column">
                <i class="fa-solid fa-brain"></i>
                <span>creatividad</span>
            </div>
        </div>
    </div>
</footer>