<body>
    <!--Modal-->
    <div class="modal fade" id="contacto-modal" tabindex="-1" aria-labelledby="contacto-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacto-modal-label">Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contacto-form d-flex flex-columns justify-content-center">
                        <div class="form-floating">
                            <div class="row mb-3">
                                <label for="floatingInput">Email address</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                </div>
                            </div>
                        </div>
                        <div class="form-floating">
                            <div class="row mb-3">
                                <label for="floatingTextarea">Comments</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-dark btn-sm" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Container ppal -->
    <div class="container main-container">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>

</body>