<app-navbar></app-navbar>
<div>
    <div class="text-center">
        <button type="button" class="btn btn-success">
            <a class="nav-link">añandir educación 
                <span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
</div>
<div class="edu">
    <ul>
        <li class="row mt-4 mb-4 ml-4 text-center" *ngFor="let edu of myEducationList">
            <p class="col-2 mb-5">{{edu.eduYear}}</p>
            <p class="col-2 mb-5">{{edu.eduTitle}}</p>
            <p class="col-2 mb-5">{{edu.eduInst}}</p>
            <img class="col-2" [src]="edu.eduImg" height="50px" />
            <p class="col-1"><a class="btn btn-outline-light tooltips" data-placement="left" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil fa2-xs"></i></a>
                <a class="btn btn-outline-light tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times fa2-xs"></i></a></p>
        </li>
    </ul>

    <div class="d-flex flex-row justify-content-center align-items-baseline mt-5 pt-4">
        <h3><a class="nav-link" routerLink="/experiencia">Experiencia</a></h3>
        <h3><a class="nav-link" routerLink="/certificaciones">Certificaciones</a></h3>
        <h3><a class="nav-link" routerLink="/about">Volver</a></h3>
    </div>
</div>