<app-navbar></app-navbar>

<div>
    <div class="text-center">
        <button type="button" class="btn btn-success">
            <a class="nav-link">añadir educación 
                <span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
</div>
<div class="skills">
    <div class="hard">
        <ul class="row d-flex ">

            <li class=" col " *ngFor=" let hard of duras ">
                <p class="col-2 flex-column align-items-center"><i class="{{hard.iconoDuras}}"></i></p>

                <p class="col "><a class="btn btn-outline-light tooltips " data-placement="left " data-toggle="tooltip " data-original-title="Edit "><i class="fa fa-pencil fa2-xs "></i></a>
                    <a class="btn btn-outline-light tooltips " data-placement="right " data-toggle="tooltip " data-original-title="Delete "><i class="fa fa-times fa2-xs "></i></a></p>
            </li>
        </ul>
    </div>

    <hr>
    <div class="soft ">
        <ul class="row d-flex ">

            <li class="col " *ngFor="let soft of blandas ">
                <p class="col"><a class="btn btn-outline-light tooltips " data-placement="left " data-toggle="tooltip " data-original-title="Edit "><i class="fa fa-pencil fa2-xs "></i></a>
                    <a class="btn btn-outline-light tooltips " data-placement="right " data-toggle="tooltip " data-original-title="Delete "><i class="fa fa-times fa2-xs "></i></a></p>
                <span class="col-2 flex-column align-items-center"><img src="{{soft.iconoBlandas}}" width="80px"></span>
                <p class="col-3 mb-3">{{soft.nombreBlandas}}</p>
            </li>
        </ul>
    </div>
</div>