@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up)*/

@media (min-width: 1400px) {}

.nav-link {
    color: #FFF;
}

.nav-link:hover,
.nav-item:hover {
    color: orange;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url('https://64.media.tumblr.com/e6a6bf3bc0f5e1649a3308c03c1b6193/40972f2caea97c77-f1/s1280x1920/1a1dac4db8a4e58bd8c6121c2b6e42d2c5586a7f.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    opacity: 0.9;
}

.masthead h1,
.masthead .h1 {
    color: orange;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    background-clip: text;
    text-shadow: 2px 2px 2px black;
}

.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    font-size: 1.5rem;
    color: orange;
    text-shadow: 1px 1px 1px black;
}

@media (min-width: 768px) {
    .masthead h1,
    .masthead .h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1,
    .masthead .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2,
    .masthead .h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

.card-group {
    height: 100vh;
    padding-top: 5em;
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.card>img {
    height: 15em;
    width: auto;
}